img{
  position: fixed;
  top: 30px;
  height: 200px;
  left: 80px;
}

h1{
  position: relative;
  top: 220px;
  left: 50px;
}

.cadastro{
  position: fixed;
  top: 300px;
  width: 280px;

}

.cadastrar{
  position: relative;
  top: 430px;

}