.titulo{
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 22px;
}

.tipolancamento{
  position: relative;
  top: 60px;
  text-align: center;
.select{
  overflow: auto !important;
}
}



.lancamento{
  position: relative;
  top: 20px;
}
.botao{
  text-align: center;
  position: relative;
  top: 110px;
  ion-button{
  .confirma{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ion-icon{
    font-size: 40px;
    padding-left: 30%;
  }
  ion-text{
    font-size: 12px;
    text-align: center;
  }
}
  }
}

.botoes{
  ion-button{
    position: relative;
    top: 140px;
    width: 100%;
    .inicio{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      ion-icon{
      font-size: 40px;
      padding-left: 10%;
      }
      ion-text{
      font-size: 10px;
      padding-left: 5px;
      }
    }
    .lancam{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    ion-icon{
    font-size: 40px;
    padding-left: 22%;
    }
    ion-text{
    font-size: 10px;
    padding-left: 5px;
    }
    }
    .planejam{
      display: flex;
      flex-direction: column;
      ion-icon{
      font-size: 40px;
      padding-left: 22%;
      }
      ion-text{
      font-size: 10px;
      padding-left: 5px;
      }
    }
  }
}
