
<ion-content>
    <!--
    <ion-item (click)="this.tpregistro=true">
      <ion-label>Tipo de Registro</ion-label>
    </ion-item>
  -->
    <ion-list *ngIf="tiporegistro"></ion-list>
      <ion-item>
        <ion-label>Despesas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Receitas</ion-label>
      </ion-item>
  <div class="lancamento">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label position="floating">Valor</ion-label>
            <ion-input placeholder="valor">R$</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Descrição</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Categoria</ion-label>
            <ion-input></ion-input>
          <ion-button slot="end">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data</ion-label>
            <ion-input></ion-input>
          <ion-button slot="end">
            <ion-icon name="calendar-number-outline"></ion-icon>
          </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="botao">
    <ion-button (click)="lancamento()"color="success" size="large" >
      <div class="confirma">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-text>Confirmar</ion-text>
      </div>
    </ion-button>
  </div>
  <div class="botoes">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="inicio()" size="large">
            <div class="inicio">
            <ion-icon name="home-outline"></ion-icon>
            <ion-text>Inicio</ion-text>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="lancamento()" size="large">
            <div class="lancam">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            <ion-text>Lançam...</ion-text>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="large">
            <div class="planejam">
              <ion-icon name="cash-outline"></ion-icon>
              <ion-text>Planeja...</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

