<ion-content>
  <!--
  <div class="logotipo">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="https://cdn.pixabay.com/photo/2016/10/25/18/49/money-1769716_1280.png" alt="">
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="calendar-number-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div >
  <div class="titulo">
    <ion-text>Lançamentos</ion-text>
  </div>
-->
  <div class="lancamentos">
    <ion-list >
      <ion-item *ngFor="let lan of tdsLancamentos" lines="none">
        <ion-label>
          <h1>{{lan[2]}}</h1>
          <p>{{lan[1]}}</p>
        </ion-label>
          <p id="despesa" *ngIf="lan[0]==='Despesa'">R${{lan[3]}}</p>
          <p id="receita" *ngIf="lan[0]==='Receita'">R${{lan[3]}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <ion-button size="large" (click)="inicio()">
          <div class="inicio">
          <ion-icon name="home-outline"></ion-icon>
          <ion-text>Inicio</ion-text>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="large"(click)="adicionar()">
          <div class="adicionar">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-text>Adicionar</ion-text>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="large">
          <div class="planeja">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-text>Planeja...</ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>





